* {
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  background-color: #ccccff;
}


.div-flexbox {
  /* Turns this element into a flexbox */
  display: inline-flex;
  /* Forces elements to the next line if they don't fit */
  flex-wrap: wrap;
  margin-top: 2%;
}

.main-header {
  display: flex;
  /* Defines how to distribute the empty space between child elements */
  justify-content: space-between;
  background-color: #ecfefa;
  color: purple;
  width: 100%;
}

header h1 {
  display: inline-block;
  font-size: 35px;
  margin-left: 50px;
}

header ul {
  list-style-type: none;
}

header ul li {
  display: inline-block;
  margin-right: 50px;
  margin-top: 15px;
}

.card {
  /* A flex-basis of 200px sets the starting width */
  /* A flex-grow value of 1 allows the elements to evenly grow to fill the remaining space */
  flex: 1 0 200px;
  padding: 10px;
  text-align: center;
  border-style:dotted;
  border-width: 1px;
  background-color: #ED7117;
  margin: 25px 100px 25px 100px;
}

main div section header img {
  width: 200px;
  height: auto;
}

.card header {
  padding: 20px;
  background: #ED7117;
  color: #2832c2;
}

.card.camera {
  /* With a flex-grow value of 2, this element grows twice as wide as others */
  /* The second value, flex-shrink, defines how the element will shrink if it can't fit */
  flex: 1 1 200px;
}

footer {
  padding: 30px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

footer h2 {
  font-size: 20px;
}


.selfie {
  width:200px;
  height:auto;
}

a {
  color: purple;
  text-decoration: none;
}

h2 {
  text-align: center;
  padding: 25px;
}