*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}

body{
    background-color:#ccccff;
}

header{
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #ff580f;
    color: pink;
}

header h1{
    display: inline-block;
    font-size: 50px;
}

header div {
    display: inline-block;
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

header div ul {
    list-style-type: none;
}

header div ul li {
    display: inline-block;
    margin-left: 25px;
    font-weight: bold;
}

header div ul li a {
    text-decoration: none;
    color: pink;
}

.selfie {
    height: 25%;
    width: 25%;
    margin: 25px;
    background-size: cover;
    background-position: center;
    display: block;
}

h3 {
    color: black;
    text-align: center;
}

#aboutme {
    padding: 50px;

}

#aboutme h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#aboutme p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#work {
    padding: 50px;

}

#work h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#work p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#resume {
    padding: 50px;

}

#resume h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#resume p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#contact {
    padding: 50px;
}

#contact h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main div ul {
    list-style-type: none;
}

main div ul li {
    display:contents;
    margin-left: 25px;
    font-weight: bold;
}

main div ul li a {
    text-decoration: none;
    color: #ff580f;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;


}

