* {
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  background-color: #ccccff;
}


.div-flexbox {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 15px;
  align-content: center;
  
}

.main-header {
  display: flex;
  justify-content: space-between;
  background-color: #ecfefa;
  color: purple;
  width: 100%;
}

header h1 {
  display: inline-block;
  font-size: 35px;
  margin-left: 50px;
}

header ul {
  list-style-type: none;
}

header ul li {
  display: inline-block;
  margin-right: 50px;
  margin-top: 15px;
}

.card {
  flex: 1 0 175px;
  padding: 10px;
  text-align: center;
  border-style:dotted;
  border-width: 1px;
  background-color: #ED7117;
  margin: 50px;
}
.topcard {
  flex: 1  200px;
  padding: 10px;
  text-align: center;
  border-style:dotted;
  border-width: 1px;
  background-color: #ED7117;
  margin: 50px;
}

.topcard header {
  padding: 20px;
  background: #ED7117;
  color: #2832c2;

}

main div section header img {
  width: 200px;
  height: auto;
}

.card header {
  padding: 20px;
  background: #ED7117;
  color: #2832c2;
}

.card.camera {
  flex: 1 1 200px;
}

footer {
  padding: 30px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

footer h2 {
  font-size: 20px;
}


.selfie {
  width:200px;
  height:auto;
}

a {
  color: purple;
  text-decoration: none;
}

h2 {
  text-align: center;
  padding: 25px;
}