:root {
    --creamsicle: #ff580f;
    --periwinkle: #ccccff;
    --dragonbelly: pink;
}

*{
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dragonbelly);
  text-align: center;;
}

body{
  background-color: #ccccff;
}

h1 {
  color: black
}

h2{
  color: var(--dragonbelly);
}

#nav, #about, .article, #footer {
  background-color: var(--creamsicle);
  margin-top: 20px;
  padding: 10px 0px 5px 0px;
}

.article{
  display: inline-block;
  width: auto;
}

#about, .article {
  height: 100px;
}

li{
  display: inline;
  padding: 5px;
}

p {
  color:black;
}

img {
  height: 25%;
  width: 25%;
  display: inline-block;
}