* {
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  background-color: #ccccff;
}

.div-flexbox {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 15px;
  align-content: center;
  
}

.main-header {
  display: flex;
  justify-content: space-between;
  background-color: #ecfefa;
  color: purple;
  width: 100%;
}

header h1 {
  display: inline-block;
  font-size: 35px;
  margin-left: 50px;
}

header ul {
  list-style-type: none;
}

header ul li {
  display: inline-block;
  margin-right: 50px;
  margin-top: 15px;
}

.card {
  flex: 1 0 175px;
  padding: 10px;
  text-align: center;
  font-weight: bolder;
  border-style:dotted;
  border-width: 1px;
  background-color: #ED7117;
  margin: 50px;
}

.biocard { 
  flex: 1 1 175px;
  padding: 10px;
  text-align: center;
  border-style:dotted;
  border-width: 1px;
  background-color: #ED7117;
  margin: 0 300px 0 300px;
}

.topcard {
  flex: 1  200px;
  padding: 10px;
  text-align: center;
  font-weight: bolder;
  border-style:dotted;
  border-width: 1px;
  background-color: #ED7117;
  margin: 0 300px 0 300px;
}

.topcard header {
  padding: 20px;
  background: #ED7117;
  color: purple;

}

.topcard img {
  border: black;
  border-style: ridge;
}

main div section header img {
  width: 200px;
  height: auto;
  border-style: ridge;
}

.card header {
  padding: 20px;
  background: #ED7117;
  color: purple;
}

.card img {
  width: 300px;
  border: black;
  border-style: ridge;
  
}

footer {
  padding: 30px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

footer h2 {
  font-size: 20px;
}

.selfie {
  width:200px;
  height:auto;
  margin-left: 25px;
  border: black;
  border-style: ridge;
}

a {
  color: purple;
  text-decoration: none;
}

h2 {
  text-align: center;
  padding: 25px;
}

h3 {
  color:black;
  margin-top: 75px;
}

.card a {
    color: purple;
    font-weight: bolder;
    text-decoration: none;
    margin: 20px;
}

p {  
  width: 500px;
  margin-left: 100px;
  margin-top: 75px;
}

a:hover {
  color: gray;
}

.card a:hover {
  color:black;
}

.card:hover, .card header:hover {
  background-color: rgb(160, 105, 4);
}

@media screen and (max-width: 992px) {
  body header {
    display:block;
    flex-wrap: wrap;
    width: 100%;
  }
  body header h1{
    margin-left: 75px;
  }
  body header h3{
    margin-top: 0px;
    margin-left: 50px;
  }
  header ul li{
    margin-left: 125px;
    margin-top: 10px;
  }
  .div-flexbox{
    display: block;
    flex-wrap: wrap;
    margin-top: 15px;
    align-content: center;
  }
  .topcard{
    flex: 1 1 0px;
    padding: 10px;
    text-align: center;
    font-weight: bolder;
    border-style:dotted;
    border-width: 1px;
    background-color: #ED7117;
    margin: 50px;
  }
  .biocard{
    flex: 1 1 175px;
    padding: 10px;
    text-align: center;
    font-weight: bolder;
    border-style:dotted;
    border-width: 1px;
    background-color: #ED7117;
    margin: 50px;
  }
  .topcard img{
    width: 250px;
    height: 250px;
  }
  .biocard img{
    width: 250px;
    height: auto;
  }
  .biocard p{
    margin-top: 50px;
    margin-left: 0;
    display:inline;
  }
  .card img{
    width: 250px;
    height: 250px;
  }
}